* {
	box-sizing: border-box;
}

html {
	font-size: $rem-font-size;
}
body {
	position: relative;
	margin: 0;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
	&.scroll-hidden {
		overflow: hidden;
		@include lg() {
			padding-right: 17px;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}