.container-fluid {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	&_medium {
		max-width: 1080px;
	}
}
.container-grid {
	width: 100%;
	max-width: 1300px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.row-grid {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.column {
	padding-left: 15px;
	padding-right: 15px;
}
.row {
	&_indents_s {
		margin-left: -5px !important;
		margin-right: -5px !important;
		& > * {
			padding-left: 5px !important;
			padding-right: 5px !important;
		}
	}
	&_indents_m {
		margin-left: -10px !important;
		margin-right: -10px !important;
		& > * {
			padding-left: 10px !important;
			padding-right: 10px !important;
		}
	}
}
