.owl-carousel {
	.svg-icon {
		font-size: 40px;
		color: #000;
	}
}

.about-slider {
	.owl-nav {
		position: absolute;
		bottom: 0;
		right: 0;
		
		height: 40px;
		width: 100%;
		@include lg() {
			width: 80%;
			margin-right: 40px;
		}
		[class*="owl-"] {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
		.svg-icon {
			font-size: 40px;
			color: #000;
		}
	}
}
.about-slider__img {
	max-width: 895px;
	&:after {
		padding-bottom: 448 / 895 * 100%;
	}
}
.about-slider__item {
	position: relative;
	padding-bottom: 70px;
	position: relative;
}
.about-slider__title {
	position: absolute;
	bottom: 0;
	right: 0;

	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	// margin-bottom: -20px;

	font-weight: 500;
	font-size: 20px;

	text-align: center;
	text-transform: uppercase;

	color: #000000;
	@include lg() {
		width: 80%;
		margin-right: 40px;
	}
}