.about {

}
.about__container {
}
.about__row {
}
.about__column {
	@include column();
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
	}
	@include lg() {
		// margin-bottom: 30px;
		margin: 0;
		max-width: 62.5%;
		flex: 0 0 62.5%;
	}
	&_content {
		text-align: center;
		& > br {
			@include mlg() {
				display: none;
			}
		}
		@include lg() {
			max-width: 37.5%;
			flex: 0 0 37.5%;
			text-align: left;
		}
		@include xl() {
			padding-top: 70px;
		}
	}
}
.about__slider {
	margin-left: auto;
	max-width: 895px;
}
.about__title {
	font-size: 28px;
	font-weight: 400;
}