.app-scope {
	position: relative;
	display: flex;
	flex-direction: column;

	font-weight: 500;
	font-size: 16px;
	color: #fff;

	border-radius: 7px;
	overflow: hidden;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background: linear-gradient(0deg, rgba(39, 51, 84, 0.6), rgba(39, 51, 84, 0.6));
		opacity: .9;
		z-index: 3;

		transition: linear .2s;
	}
	&:hover, &:focus {
		text-decoration: none;
		color: #fff;
		&:before {
			opacity: .4;
		}
		.app-scope__in {
		}
	}
}
.app-scope__in {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 64px;
	padding: 10px;


	&:after {
		// padding-bottom: 64 / 264 * 100%;
		display: none;
	}
}

.app-scope__title {
	z-index: 4;
	&:first-child {
		color: #999;
	}
}