.app-device {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 200px;

	text-align: center;
	@media only screen and (max-width: 460px) {
		width: 100%;
	}
}
.app-device__input {
	position: absolute;
	top: 0;
	left: -999px;
	opacity: 0;
	visibility: hidden;
	&:checked {
		& + label {
			background-color: #F2F2F2;
			.app-device__name {
				color: #282D3B;
			}
			.app-device__icon_android {
				color: #AAC148;
			}
			.app-device__icon_iOS {
				color: #000;
			}
			.app-device__check {
				opacity: 1;
				visibility: visible;
			}
			.app-device__img {
				filter: none;
				-webkit-filter: grayscale(0);
				img {
				}
			}
		}
	}
}
.app-device__label {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	margin-bottom: 0;
	border: 1px solid #EBEBEB;

	text-align: center;

	border-radius: 5px;
	background-color: #fff;

	transition: linear .2s;
}
.app-device__icon {
	color: #ccc;
	font-size: 40px;
	margin-left: 7px;
	margin-right: 7px;
	&_bigger {
		// font-size: 45px;
		// margin-bottom: -5px;
	}
}
.app-device__name {
	margin-top: 15px;
	display: block;
	color: #ccc;

	transition: linear .2s;
}

.app-device__check {
	position: absolute;
	top: 5px;
	right: 5px;

	line-height: 1;
	
	opacity: 0;
	visibility: hidden;

	transition: lienar .2s;
	font-size: 10px;
	color: #F1A33A;
	text-align: right;
}

.app-device__txt {
	font-size: 26px;
	color: #282D3B;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.app-device__sub-txt {
	font-size: 16px;
	color: #CCCCCC;

}

.app-device__img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	width: 41px;
	img {
	}
}

.app-device__include {
	display: block;
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	color: #CCCCCC;
}