.app-scope-list {
	margin-left: -10px;
	margin-right: -10px;
	@include sm() {
		margin-left: -20px;
		margin-right: -20px;
	}
}
.app-scope-list__column {
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	@media only screen and (min-width: 400px) {
		flex: 0 0 50%;
		max-width: 50%;
	}
	@include sm() {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;
	}
	@include sm() {
	}
	@include md() {
		flex: 0 0 4 / 12 * 100%;
		max-width: 4 / 12 * 100%;
	}
	@include lg() {
		max-width: 25%;
		flex: 0 0 25%;
	}
	&:last-child {
		.app-scope {
			border: 1px solid #EBEBEB;
			&:before {
				background: #F2F2F2;
				opacity: 1;
			}
		}
	}
}
