.border-wrap {
	padding: 50px 30px 40px;
	border: 1px solid #F2F2F2;

	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.09);
	border-radius: 5px;
	background-color: #fff;
	margin: 10px 0 90px;
	@include mmd() {
		padding: 20px;
	}
	&_columns_true {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		@include mmd() {
			padding: 0;
		}
	}
	&_form {
		padding: 20px 15px;
		margin: 0 0 30px;
		// max-width: 1080px;
		// margin-left: auto;
		// margin-right: auto;
		@include lg() {
			padding: 25px 40px;
		}
	}
	&.calc-total {
		margin-top: -1px;
	}
}

.border-wrap__column {
	padding: 15px;
	width: 100%;
	border-left: 1px solid #F2F2F2;
	@include lg() {
		padding: 40px 30px;
		max-width: 31.5%;
		flex: 0 0 31.5%;
	}
	&_large {
		border-left: none;
		@include lg() {
			padding: 50px 30px;
			max-width: 68.5%;
			flex: 0 0 68.5%;
		}
	}
}

.border-wrap__progress {
	margin-left: -15px;
	margin-right: -15px;
	@include lg() {
		margin-left: -30px;
		margin-right: -30px;
	}
}

.border-wrap__sub {
	.column {
		margin-bottom: 10px;
		@include sm() {
			margin-bottom: 0;
		}
	}
}

.border-wrap__title {
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 20px;

	@include lg() {
		margin-left: -40px;
		margin-right: -40px;
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 30px;
	}
	h3 {
		display: inline-block;
		padding-bottom: 13px;
		margin: 0 0 -1px;
		border-bottom: 1px solid #F1A33A;
	}
}

.border-wrap-title {
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 35px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding-bottom: 15px;
		display: inline-block;
		margin: 0 0 -1px;
		border-bottom: 1px solid #F1A33A;
	}
}

.border-wrap-padding-right {
	@include xl() {
		padding-right: 50px;
	}
}