.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
	li {
		font-size: 13px;
		line-height: 1.46;
		color: #ccc;
		padding-left: 5px;
		padding-right: 5px;
		&:after {
			content: '>>';
			position: relative;
			display: inline-block;
			right: -5px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	a {
		color: #ccc;
	}
}