.btn-close {
	display: inline-block;
	opacity: 1;
	&_circle {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 18px;
		height: 18px;
		border: 1px solid #ebebeb !important;
		margin-left: 3px;
		margin-right: 3px;

		font-size: 8px;
		color: #999;

		background-color: #f2f2f2 !important;
		border-radius: 50%;
		&:hover, &:focus {
			color: #000;
		}
	}
}