.button-clr {
	padding: 0;
	background-color: transparent;
	border: none;
	&:focus {
		outline: none;
	}
}
.button {
	display: inline-block;
	border: 2px solid #F1A33A;
	padding: 11px 20px 10px;
	min-width: 150px;

	color: #fff;
	font-weight: 600;
	font-size: 15px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;

	border-radius: 4px;
	background: #F1A33A;
	transition: linear .2s;
	&:hover, &:focus {
		color: #fff;
		text-decoration: none;
		box-shadow: 0 3px 9px rgba(#fff, .3);
	}
	&_transparent {
		background-color: transparent;
	}
	&_color_black {
		color: #000;
		&:hover, &:focus {
			color: #000;
		}
	}
	&_hover_on_white_background {
		&:hover, &:focus {
			box-shadow: 0 3px 12px rgba(#000, .3);
		}
	}
	&_font_normal {
		font-weight: 400;
		text-transform: none;
	}
	&_txt-small {
		font-weight: 400;
		font-size: 13px;
	}
}

.button-circle {
	display: inline-block;
	padding: 9px 20px 8px;
	border: 1px solid #F2F2F2;

	line-height: 1;
	text-align: center;
	color: #999;

	border-radius: 555px;
	background: #fff;
}
.button-circle__close {
	margin-right: -10px !important;
}

.button-grey {
	// width: 100%;
	width: 260px;
	padding: 15px 20px;

	font-size: 13px;
	line-height: 1;

	color: #282D3B;

	background-color: #F2F2F2;
	border-radius: 5px;
	@include msm() {
		width: 100%;
	}
	&:after {
		content: '';
		display: inline-block;
		position: relative;
		top: -1px;
		left: 5px;

		width: 5px;
		height: 5px;

		border-left: 1px solid #282D3B;
		border-bottom: 1px solid #282D3B;

		transform-origin: 50% 50%;
		transform: rotate(-135deg);
		transition: linear .1s;

	}
	&:hover, &:focus {
		background-color: #E1E0E0;
		&:after {
			left: 8px;
		}
	}
}
.button-small-txt {
	font-weight: 400;
	font-size: 13px;
	text-transform: none;
}


.button-tag {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 11px 15px;

	font-size: 16px;
	line-height: 1;
	text-align: center;
	color: #ccc;

}


.button-del-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	font-size: 8px;
	color: #F1A33A;

	background: #F2F2F2;
	border: 1px solid #EBEBEB;
	border-radius: 50%;
	transition: linear .1s;
	.svg-icon {
		flex-shrink: 0;
		flex-grow: 0;
		transition: linear .1s;
	}
	&:hover {
		border-color: #cdcdcd;
		.svg-icon {
			transform: rotate(90deg);
		}
	}
}