.calc-total-item {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 20px 20px 10px;
	border: 1px solid #EBEBEB;
	border-radius: 5px;
	background-color: #FFFFFF;
	@include mxl() {
		// padding: 10px 20px 5px;
		padding-bottom: 20px;
	}
	.row {
		@include xl() {
			flex-wrap: nowrap;
		}
	}
	&_summary {
		background-color: #282D3B;
		color: #fff;
		.dotted-list {
			li {
				&:hover {
					color: #fff;
				}
			}
		}
		.calc-total-item__name, .calc-total-item__link, .calc-total-item__hours {
			color: #fff;
		}
	}
	&_price {
		background-color: #F1A33A;
		color: #fff;
		.calc-total-item__name, .calc-total-item__link, .calc-total-item__hours {
			color: #fff;
		}
	}
}
.calc-total-item__name {
	font-weight: 600;
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
	margin-bottom: 10px;
	@include mxl() {
		margin-bottom: 0;
	}
}
.calc-total-item__link {
	position: absolute;
	bottom: 10px;
	left: 20px;


	font-weight: 500;
	font-size: 11px;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #F1A33A;
	@include mxl() {
		bottom: 20px;
	}
	&:hover, &:focus {
		color: #F1A33A;
		text-decoration: none;
	}
	&.collapsed {
		bottom: 20px;
		@include mxl() {
			bottom: 10px;
		}
	}
	&.on-orange {
		&:hover, &:focus {
			color: #fff;
		}
	}
}
.calc-total-item__hours {
	position: relative;
	top: -10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	color: #282D3B;
	strong {
		font-weight: 500;
		display: inline-block;
		margin-bottom: 3px;
		font-size: 40px;
		@include mxl() {
			font-size: 30px;
		}
	}
}
.calc-total-item__column {
	@include mxl() {
		margin-bottom: 10px;
	}
}

.calc-total-item__scroll {
	margin-bottom: 15px;
	max-height: 90px;
}