.checkbox {
	display: inline-block;
	position: relative;
	// margin: 3px 0;
}
.checkbox-title {
	font-size: 14px;
	color: #000000;
	margin-bottom: 5px;
}
.checkbox-input {
	position: absolute;
	top: 0;
	left: -999px;
	opacity: 0;
	visibility: hidden;
	&:checked {
		& + .checkbox-pseudo {
			.checkbox-check {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.checkbox-pseudo {
	position: relative;
	display: inline-block;
	top: 3px;
	margin-right: 6px;
	width: 16px;
	height: 16px;
	border: 2px solid #CCCCCC;
	
	box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
	border-radius: 3px;
	background: #fff;
	&_alternative {
		width: 14px;
		height: 13px;
		top: 1px;
		.svg-icon {
			font-size: 13px;
			margin-top: -3px;
			margin-left: 2px;
		}
	}
}
.checkbox-check {
	color: #F1A33A;
	font-size: 10px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	opacity: 0;
	visibility: hidden;
	transition: linear .2s;
}
.checkbox-label {
	display: inline-block;
	margin: 0;

	font-size: 14px;
	line-height: 21px;
	color: #282D3B;

}
.checkbox-span {
	color: #999;
}
.checkbox-txt {
	font-size: 12px;
	line-height: 28px;
	color: #282D3B;
}