.check-list {

}
.check-list__column {
	margin-bottom: 15px;
	@include lg() {
		margin-bottom: 30px;
	}
}
.check-list__column-in {
	margin-bottom: 10px;
}
.check-list__link {
	margin-top: 10px;
}
.check-list__button {
	max-width: 260px;
	// margin-left: auto;
	// margin-right: auto;
}

.check-list-title {
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;

	color: #999999;
}

.check-list-item {
	font-size: 16px;
	line-height: 24px;
	color: #282D3B;

	display: flex;
	flex-wrap: nowrap;
	.svg-icon {
		flex-shrink: 0;
		font-size: 8px;
		color: #F1A33A;
		margin-top: 8px;
		& + span {
			margin-left: 8px;
		}
	}
}