.checkout-column {
	width: 100%;
	@include lg() {
		max-width: 61.5%;
		flex: 0 0 61.5%;
		padding-right: 60px;
	}
	&_sidebar {
		@include lg() {
			max-width: 38.5%;
			flex: 0 0 38.5%;
			padding-right: 15px;
		}
	}
}