.company-title {
	margin-bottom: 5px;
	
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.585em;
	text-align: center;
	color: #F1A33A;
	@include lg() {
		font-size: 16px;
	}
	&_lowercase {
		text-transform: lowercase;
	}
}