.contact-form {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.contact-form__column {
	width: 100%;
	@include xl() {
		max-width: 325px;
		flex: 0 0 325px;
	}
	&_large {
		@include xl() {
			width: auto;
			flex: 1 1 0;
			max-width: none;
		}
	}
}