.list-clr {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
	margin-bottom: 10px;
}
h1 {
	font-size: 35px;
	@include lg() {
		font-size: 54px;
	}
}
h2 {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 20px;
	@include lg() {
		font-size: 37px;
	}
}
h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
}
h4 {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
h5 {
	

}
h6 {

}
.centered-text {
	text-align: center;
}


br {
	@include mlg() {
		// display: none;
	}
}
.h2-light {
	font-weight: 300;
	font-size: 25px;
	color: #717171;
	@include lg() {
		font-size: 37px;
	}
}
.txt-light {
	display: inline-block;
	font-size: 13px;
	color: #999;
	position: relative;
	&:after {
		content: '';
		
		position: relative;
		top: -1px;
		left: 5px;
		display: inline-block;
		width: 5px;
		height: 5px;
		border-left: 1px solid #999;
		border-bottom: 1px solid #999;
		

		transform-origin: 50% 50%;
		transform: rotate(-135deg);
		transition: linear .1s;
	}
	&:hover, &:focus {
		color: #999;
		&:after {
			left: 7px;
		}
	}
}

.txt-small-grey {
	font-size: 12px;
	line-height: 15px;
	color: #CCCCCC;
}
.txt-light-grey {
	font-size: 13px;
	line-height: 15px;
	color: #999;
}
.text-orange {
	color: #F1A33A !important;
}
.sub-title {
	font-weight: 600;
	font-size: 14px;
	color: #999999;
	&_weight_400 {
		font-weight: 400;
	}
}

.content-wrap {
	border: 1px solid #ebebeb;
	padding: 20px;
	border-radius: 5px;
}

.devider {
	margin: 30px 0;
	border: none;
	border-bottom: 1px solid rgba(#000, .1);
}

.font-size-25 {
	font-size: 16px !important;
}
.font-size-25 {
	font-size: 25px !important;
}
.wh-nowrap {
	white-space: nowrap;
}

.link-title {
	color: inherit;
	&:hover {
		color: inherit;
	}
}