.contact-card-wrap {
	margin-bottom: 15px;
}
.contact-card {
	padding: 24px 20px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.09);
	h3 {
		margin-bottom: 10px;
	}
}
.contact-card__icon {
	font-size: 30px;
	color: #F1A33A;
	margin-bottom: 5px;
}