.description {
	color: #fff;
	@include lg() {
		display: flex;
		flex-direction: column;
	}
}
.description__in {
	padding: 35px 0;
	@include lg() {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 520px;
		padding: 70px 0;
		
	}
}