.device-list {
}
.device-list__wrap {
	position: relative;
	width: 100%;
	@media only screen and (min-width: 460px) {
		width: auto;
		&_include {
			&:after {
				content: '';

				position: absolute;
				top: 0;
				bottom: 30px;
				right: -1px;

				border-right: 1px solid #f2f2f2;
				@include mlg() {
					bottom: 15px;
				}
			}
		}
	}
}
.device-list__column {
	margin-bottom: 15px;
	@include lg() {
		margin-bottom: 30px;
	}
}