.dotted-list {
	color: #ccc;

	font-size: 13px;
	li {
		display: flex;
		flex-wrap: nowrap;
		&:hover {
			color: #282D3B;
		}
	}
	&_alternative {
		li {
			margin-bottom: 15px;
		}
		font-size: 20px;
		line-height: 1.3;
		.dotted-list__name {

		}
		.dotted-list__dots {
			margin-left: 20px;
			margin-right: 20px;
		}
		.dotted-list__val {
			color: #282D3B;
		}
	}
	&_alternative_orange {
		color: #F1A33A;
		.dotted-list__val {
			color: #F1A33A;
		}
		.dotted-list__dots {
			&:after {
				border-color: #F1A33A;
			}
		}
	}
}
.dotted-list__name {

}
.dotted-list__dots {
	padding-left: 5px;
	padding-right: 5px;
	flex-grow: 1;
	&:after {
		content: '';

		display: inline-block;
		width: 100%;
		border-bottom: 1px dotted #ccc;
	}
	span {
		font-size: 0;
	}
}
.dotted-list__val {

}