.field {
	text-align: center;
}
.field__icon {
	width: 52px;
	display: inline-block;
	
	&:after {
		padding-bottom: 45 / 52 * 100%;
	}
}
.field__name {
	margin: 20px 0;
	font-weight: bold;
	font-size: 20px;

	color: #000000;
}