.footer {
	padding: 20px 0;
	margin-top: auto;

	color: #fff;
	
	background-color: #282D3B;
	@include lg() {
		padding: 50px 0;
	}
}
.footer__row {
	justify-content: space-between;
}
.footer__txt {
	color: #ADADAD;
}

.footer__column {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	@include sm() {
		max-width: 50%;
		flex: 0 0 50%;
	}
	@include xl() {
		max-width: 25%;
		flex: 0 0 25%;
	}
	&_menu {
		@include xl() {
			max-width: 16.66666666666667%;
			flex: 0 0 16.66666666666667%;
		}
	}
	&_contacts {
		@include xl() {
			max-width: 33.33333333333333%;
			flex: 0 0 33.33333333333333%;
		}
	}
}