.footer-logo {
	display: block;
	color: #fff;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(#fff, .1);
	margin-bottom: 15px;
	&:hover, &:focus {
		text-decoration: none;
		color: #fff;
		.footer-logo__img {
			transform: rotateX(360deg);
		}
	}
}
.footer-logo__img {
	display: inline-block;
	width: 73px;
	float: left;
	margin-top: 5px;
	transition: linear .6s;
	&:after {
		padding-bottom: 38 / 73 * 100%;
	}

}
.footer-logo__txt {
	margin-left: 100px;
}