.form-descr {
	padding: 17px 25px;
	background: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.09);
}
.form-descr-title {
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	/* identical to box height */
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	/* Text/Main */
	color: #282D3B;
}
.form-descr-txt {
	font-size: 15px;
	line-height: 22px;
	/* identical to box height */
	display: flex;
	align-items: center;
	text-align: center;

	/* Text/2nd text */
	color: #999999;
}