.form-control {
	border: 1px solid #EBEBEB;
	padding: 7px 15px;
	border-radius: 4px;

	background: #FFFFFF;

	font-size: 14px;
	line-height: 1;
	color: rgba(#282D3B, .5);
	@include iph() {
		font-size: 14px;
		line-height: 1;
		color: rgba(#282D3B, .5);
	}
	&:focus {
		box-shadow: none;
		outline: none;
		border-color: #F1A33A;
	}
}
textarea.form-control {
	line-height: 1.3;
	resize: none;
}