.front {
	display: flex;
	flex-direction: column;
	&_portfolio {
		background-position: 100% 0;
		.front__in {
			@include lg() {
				min-height: 270px;
			}
			@include mlg() {
				padding-top: 80px;
				padding-bottom: 60px;
			}
		}
	}
}
.front__in {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 120px;
	padding-bottom: 80px;
	@include lg() {
		min-height: 700px;
	}
}
.front__container {
	// @include container();
}
.front__row {
	// @include row();
}
.front__content {
	color: #fff;
	// min-height: 100vh;
}
.front__title {
	margin-bottom: 15px;
}
.front__button {
	margin-top: 40px;
}

.front-shop {
	.front__in {
		min-height: 270px;
		padding-bottom: 0;
	}
}