.header-basket {
	position: relative;
	display: block;

	color: #fff;

	transition: linear .2s;
	margin-right: 10px;
	&:hover, &:focus {
		color: #fff;
		transform: translate(2px, 0);
	}
}
.header-basket__icon {
	font-size: 20px;
}
.header-basket__notification {
	position: absolute;
	left: 100%;
	top: 0;
	transform: translate(-50%, 0);
}