.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 0;
	@include lg() {
		padding: 40px 0;
	}
	&_inner-page {
		padding: 15px 0;
		background: #fff;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.09);
		@include lg() {
			padding: 24px 0 23px;
		}
		.menu-nav {
			a {
				color: #282D3B;
				&:after {
					border-color: #F1A33A;
				}
				&:hover, &:focus {
					color: #282D3B;
				}
			}
		}
		.menu-nav-toggle {
			color: #282d3b !important;
		}
		.menu-nav-dropdown {
			&:hover {
				.menu-nav-toggle {
					// color: #fff !important;
				}
			}
		}
		.menu-nav-drop {
			background: #fff;
			border-color: transparent;
			@include lg() {
				box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.09);
			}
			&:before {
				border-top-color: #e6e4e2;
			}
			li {
				&:hover {
					color: #282d3b !important;
					a {
						color: #282d3b !important;
					}
				}
			}
			a {
				color: #F1A33A !important;
				@include mlg() {
					color: #282d3b !important;
				}
			}
		}
		.header-basket__icon {
			color: #F1A33A;
		}
		.header__callback {
			&:hover, &:focus {
				@include lg() {
					box-shadow: 0 2px 12px rgba(#000, .3);
				}
			}
		}
		.header__callback-icon {
			color: #F1A33A;
			&:hover, &:focus {
				box-shadow: none;
			}
		}
		.header__hamburger {
			color: #F1A33A;
		}
	}
}
.header__container {
	// @include container();
}
.header__row {
	// @include row();
	align-items: center;
}
.header__logo {
	width: 135px;
	height: 37px;
	margin-right: auto;
	img {
		display: block;
		transition: linear .6s;
	}
	&:hover, &:focus {
		img {
			transform: rotateX(360deg);
		}
	}
}
.header__callback {
	@include mlg() {
		background-color: transparent;
		border-color: transparent;
		padding: 0;
		min-width: auto;
		span {
			display: none;
		}
		&:hover, &:focus {
			box-shadow: none;
			transform: translate(2px, 0);
		}
	}
}
.header__callback-icon {
	font-size: 20px;
	@include lg() {
		display: none;
	}
}
.header__menu-toggle {

}
.header__hamburger {
	color: #fff;
	font-size: 20px;
}

.header__menu-toggle-wrap {
	@include lg() {
		display: none;
	}
}