.link {
	display: inline-block;
	position: relative;

	&:hover, &:focus {
		
	}
	&_angle_back {
		&:before {
			content: '';

			position: relative;
			top: -2px;
			display: inline-block;
			border-left: 1px solid #000;
			border-bottom: 1px solid #000;
			width: 6px;
			height: 6px;
			transform: rotate(45deg);
			margin-right: 5px;
		}
	}
	&_color_white {
		color: #fff;
		&:hover, &:focus {
			color: #fff;
			text-decoration: underline;
		}
	}
	&_color_grey {
		color: #ccc;
		&:before {
			border-color: #ccc;
		}
		&:hover, &:focus {
			color: #ccc;
		}
	}
	&_color_main {
		color: #282D3B;
		&:hover, &:focus {
			color: #282D3B;
		}
	}
	&_color_blue {
		color: #325BCD;
		&:hover, &:focus {
			color: #325BCD;
		}
	}
	&_decoration_underline {
		text-decoration: underline;
	}
	&_orange {
		color: #F1A33A;
		&:hover {
			color: #F1A33A;

		}
	}
}