.menu-nav {
	display: flex;
	flex-wrap: wrap;
	& > li {
		padding-left: 25px;
		padding-right: 25px;
		@include lg() {
			width: 115px;
			text-align: center;
		}
		& > a {
			position: relative;
			display: block;

			font-size: 18px;

			color: #FFFFFF;
			text-decoration: none;
			&:after {
				content: '';

				position: absolute;
				top: 100%;
				left: 0;

				width: 100%;
				border-bottom: 2px solid #fff;
				margin-top: 5px;

				opacity: 0;
				visibility: hidden;

				transition: linear .1s;
			}
			&:hover, &:focus {
				@include lg() {
					color: #fff;
				}
				text-decoration: none;
				&:after {
					opacity: 1;
					visibility: visible;
					margin-top: 0;
				}
			}
		}
	}
	
}

.menu-nav-dropdown {
	position: relative;
	text-align: left;
	&:hover {
		@include lg() {
			.menu-nav-toggle {
				color: #F1A33A !important;
				font-weight: 700;
			}
			.menu-nav-drop {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.menu-nav-toggle {
	display: block;
	position: relative;
	z-index: 2;

	font-size: 18px;
	text-align: center;
	color: #FFFFFF !important;
	text-decoration: none !important;
	@include mlg() {
		color: #000 !important;
	}
}
.menu-nav-drop {
	margin: 0;
	list-style: none;
	@include lg() {
		position: absolute;
		top: -10px;
		left: -5px;
		min-width: 240px;
		z-index: 1;

		padding: 3em 1.8em 1em;
		border: 1px solid #000000;
		border-radius: 7px;

		background: rgba(18, 14, 14, 0.32);
		backdrop-filter: blur(19px);
		opacity: 0;
		visibility: hidden;
		transition: linear .2s;
	}
	@include mlg() {
		opacity: 1;
		visibility: visible;
		padding: 10px 0 0 25px;
	}
	&:before {
		@include lg() {
			content: '';

			position: absolute;
			right: 0;
			top: 2.5em;
			width: 95%;
			border-top: 1px solid #413F3D;
		}
	}
	li {
		display: flex;
		flex-wrap: nowrap;
		color: #F1A33A;
		&:before {
			position: relative;
			content: "\2022";
			font-weight: bold;
			display: inline-block;
			width: 1em;
			margin-left: -1em;
		}
		&:hover {
			@include lg() {
				color: #fff;
				a {
					color: #fff !important;
				}
			}
		}
	}
	a {
		display: block;
		flex-grow: 1;
		color: #F1A33A;
	}
}