.menu {
	@include mlg() {
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 999;

		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;

		opacity: 0;
		visibility: hidden;
		transition: linear .3s;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			background-color: rgba(#000, .3);
		}
		.menu-nav {
			display: block;
			li {
				margin-bottom: 10px;
			}
			a {
				display: inline-block;
				color: #000;
				&:after {
					border-color: #000;
				}
			}
		}
		&.visible {
			opacity: 1;
			visibility: visible;
			left: 0;
		}
	}
}
.menu__in {
	@include mlg() {
		position: relative;
		background-color: #fff;
		width: 280px;
		flex-grow: 1;
		padding-top: 50px;
	}
}
.menu__close {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 20px;
	@include lg() {
		display: none;
	}
}