.menu-list {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		color: #fff;

	}
	a {
		position: relative;
		display: inline-block;
		padding: 2px 0 3px;

		color: #fff;
		&:after {
			content: '';

			position: absolute;
			top: 100%;
			left: 0;
			transform: translate(-5px, 0);

			width: 100%;
			margin-top: -2px;

			border-bottom: 1px solid #fff;

			opacity: 0;
			visibility: hidden;

			transition: linear .2s;
		}
		&:hover, &:focus {
			text-decoration: none;
			color: #fff;
			&:after {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
			}
		}
	}
}