.pagination {
	.page-item {

	}
	.page-link {

	}
}
.page-item {
	&.active {
		.page-link {
			background-color: #F1A33A;
			border-color: #F1A33A;
			color: #fff;
		}
	}
}
.page-link {
	border-color: #F1A33A;
	font-size: 14px;
	line-height: 1;
	color: #282D3B;
	&:hover {
		color: #282D3B;
		background-color: rgba(#F1A33A, .1);
		border-color: #F1A33A;
	}
}