.person {
	text-align: center;
	margin-bottom: 10px;
}
.person__photo {
	display: inline-block;
	width: 85px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 10px;
}
.person__name {
	font-weight: bold;
	color: #282D3B;
}
.person__position {
	color: #A0A5B3;
}