.portfolio-project {
	line-height: 28px;
	color: #282D3B;
	background: #F5F5F5;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.09);
	h3 {
		font-weight: bold;
		font-size: 37px;
		line-height: 55px;

		/* Attention */
		color: #F1A33A;
	}
}