.price {
	padding-bottom: 100px;
	@include lg() {
		padding-bottom: 120px;
	}
}
.price__column {
	margin-bottom: 80px;
	&:last-child {
		margin-bottom: 0;
	}
	@include sm() {
		margin-bottom: 0;
	}
	@include md() {
		margin-bottom: 0;
	}
}