.price-type {
	display: flex;
	flex-direction: column;
	position: relative;

	border-radius: 5px;
	text-align: center;
	color: #F2F2F2;
	transition: linear .2s;
	padding: 20px 20px 0;
	@include sm() {
		// padding: 20px 20px 170px;
		// padding: 20px 20px 250px;
	}
	@include lg() {
		padding: 50px 50px 0;
	}
	&:hover, &:focus {
		color: #F2F2F2;
		text-decoration: none;
		box-shadow: 0 3px 24px rgba(#000, .3);
	}
	&_web {
		background: radial-gradient(337.00px at 50% 50%, #424753 0%, #333641 100%);
	}
	&_mob-app {
		background: radial-gradient(307.00px at 50% 50%, #F8BB6A 0%, #F1A33A 100%);
	}
	br {
		@include mlg() {
			display: none;
		}
	}
}
.price-type__title {
	font-size: 28px;
	margin-bottom: 10px;
}

.price-type__img {
	// position: absolute;
	// bottom: -50px;
	margin-top: auto;
	position: relative;
	bottom: -30px;
	&_web {
		// left: 0;
		// right: 0;
		&:after {
			padding-bottom: 279 / 504 * 100%;
		}
	}
	&_mob-app {
		width: 100%;
		max-width: 374px;
		margin-left: auto;
		margin-right: auto;
		// left: 50%;
		// transform: translate(-50%, 0);
		&:after {
			padding-bottom: 290 / 374 * 100%;
		}
	}
}