.progress-line {
	position: relative;
	border-bottom: 1px solid #f2f2f2;
}
.progress-line__line {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	border-bottom: 3px solid #F1A33A;
}