.result-box {
	margin-bottom: 20px;
	@include lg() {
		margin-bottom: 40px;
	}
}
.result-box__title {
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 27px;

	color: #999999;
	@include lg() {
		margin-bottom: 25px;
	}

}
.result-box__label {
	margin: 5px 0;
}
.result-box__scroll {
	max-height: 379px;
	@include xl() {
	}
}