.reviews-slider {
	.owl-nav {
		position: absolute;
		// top: 50%;
		top: 100%;
		left: 0;
		height: 40px;
		left: 0;
		right: 0;
		@include lg() {
			top: 50%;
			transform: translate(0, -50%);
			left: -8.333333333333333%;
			right: -8.333333333333333%;
		}
		[class*="owl-"] {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}
		.owl-prev {
			right: 50%;
			margin-right: 10px;
			@include lg() {
				right: auto;
				left: 0;
				margin: 0;
			}
		}
		.owl-next {
			left: 50%;
			margin-left: 10px;
			@include lg() {
				left: auto;
				right: 0;
				margin: 0;
			}
		}
	}
	br {
		@include mlg() {
			display: none;
		}
	}
}
.reviews-slider__review {
	font-style: italic;
}