.scrollbar {
	overflow-y: auto;
	padding: 5px 0;
	.mCSB_draggerRail {
		width: 1px !important;
		background-color: #f2f2f2 !important;
	}
	.mCSB_dragger_bar {
		width: 3px !important;
		background-color: #EBEBEB !important;
		border-radius: 0;
	}
}