.select2-container .select2-selection--single {
	border: none;
	&:focus {
		outline: none !important;
	}
	&--focus {
		outline: none !important;
	}
	&--open {
		.select2-selection__rendered {
			border-radius: 4px 4px 0 0;
		}
	}
}
.select2-container .select2-selection--single .select2-selection__rendered {
	border: 1px solid #EBEBEB;
	padding: 10px 15px 9px;
	border-radius: 4px;
	background: #FFFFFF;
	font-size: 14px;
	line-height: 1;
	color: rgba(40, 45, 59, 0.5);

}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 35px;
}
.select2-dropdown {
	top: 5px;
	border: 1px solid #EBEBEB !important;
	border-radius: 0 0 4px 4px;
	padding-top: 10px;
	background: #FFFFFF;
	font-size: 14px;
	line-height: 1;
	color: rgba(40, 45, 59, 0.5);
}
.select2-results__option {
	padding-left: 15px;
	padding-right: 15px;
	&[aria-selected="true"] {
		background-color: transparent !important;
		color: #F1A33A !important;
	}
	&--highlighted {
		background-color: #F1A33A !important;
		color: #fff !important;
	}
	&--highlighted[aria-selected="true"] {
		background-color: #F1A33A !important;
		color: #fff !important;
	}
}