.services {
	border-bottom: 1px solid #F2F2F2;
}
.services__container {
	// @include container();
}
.services__row {
	// @include row();

}
.services__item {
	@include column();
	display: flex;
	flex-direction: column;
	@include sm() {
		max-width: 50%;
		flex: 0 0 50%;
	}
	@include xl() {
		max-width: 25%;
		flex: 0 0 25%;
	}

}

.services__item-card {
	flex-grow: 1;
}