.services-card {
	display: block;
	padding: 15px;
	margin-bottom: 15px;

	color: #282D3B;

	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.09);
	border-radius: 5px;
	background: #FFFFFF;
	transition: linear .2s;
	text-decoration: none;
	&:hover, &:focus {
		color: #282D3B;
		text-decoration: none;
		
		@include lg() {
			box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
		}
	}
	@include lg() {
		padding: 30px;
		margin-bottom: 30px;
	}
}

.services-card__img {
	width: 67px;
	margin-bottom: 20px;
	&:after {
		padding-bottom: 100%;
	}
}