.shop-services {
	padding: 125px 0 90px;
}
.shop-service {
	transition: linear .1s;
	background-color: #fff;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.09);
	&:hover {
		@include lg() {
			background-color: #282D3B;
			.shop-service-head {
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
			.shop-service-price {
				color: #fff;
			}
		}
	}
}
.shop-service-head {
	position: relative;
	padding: 20px 35px;

	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #fff;

	background-color: #282D3B;
	position: relative;
	@include mmd() {
		font-size: 16px;
		line-height: 25px;
	}
	&:before {
		content: '';

		width: 20px;
		border-bottom: 3px solid #F1A33A;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
	}
	&:after {
		content: '';

		position: absolute;
		
		bottom: 0;
		left: 25px;
		right: 25px;
		border-bottom: 1px solid #413F3D;

		opacity: 0;
		visibility: hidden;
		transition: linear .1s;
	}
}
.shop-service-body {
	padding: 20px 25px 35px;
	font-size: 16px;
	line-height: 24px;
	color: #999;
	@include mxl() {
		font-size: 14px;
		line-height: 22px;
	}
}
.shop-service-price {
	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	color: #282D3B;
	@include mmd() {
		font-size: 30px;
		line-height: 38px;
	}
}