.shop-link {
	color: #fff !important;
	padding: 6px 20px;
	text-decoration: none !important;
	@include xl() {
		border-left: 1px solid #3D3C3B;
	}
	.svg-icon {
		color: #C4C4C4;
		transition: linear .1s;
		font-size: 20px;
	}
	&:hover {
		.svg-icon {
			transform: translate(0, -2px);
		}
	}
}