.socials {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.socials__txt {
	margin-right: 18px;
	display: inline-block;
}
.socials__list {
	margin-right: -10px;
	margin-left: -10px;
	display: flex;
	flex-wrap: wrap;
	li {
		padding-left: 10px;
		padding-right: 10px;
	}

}