.social-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 34px;
	height: 34px;

	background: rgba(#C4C4C4, .3);
	border-radius: 3px;

	font-size: 18px;
	line-height: 1;

	color: #fff;
	&:hover, &:focus {
		text-decoration: none;

		background-color: #fff;
		color: #000;
	}
}