.stack {
	text-align: center;
	@media only screen and (min-width: 1500px) {
		text-align: left;
	}
}
.stack__title {
	// margin-top: 20px;
	@include sm() {
		// margin-top: 0;
	}
	@media only screen and (min-width: 1500px) {
		padding-right: 8%;
	}
}
.stack__tech {
	margin-bottom: 15px;
}

.stack__label {
	margin-bottom: 25px;
}