.step-index {
	position: relative;

	font-size: 13px;
	color: #000;
	text-align: center;
	&:before {
		content: '';

		border-bottom: 1px solid #f2f2f2;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;

		transform: translate(0, -50%);
	}
}
.step-index__devider {
	margin: 0;
	position: absolute;
	top: 50%;

}
.step-index__index {
	display: inline-block;
	position: relative;
	padding: 5px 15px;

	background-color: #fff;
	white-space: nowrap;

}