.tech {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	color: #9F9F9F;

}
.tech__img {
	display: inline-block;
	width: 73px;
	&:after {
		padding-bottom: 54 / 73 * 100%;
	}
}