.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.wrapper__in {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.wrapper__content {
	&_inner-page {
		padding-top: 90px;
		@include lg() {
			padding-top: 120px;
		}
		.container-grid {
			max-width: 1180px;
		}
	}
}