<footer class="footer">
	<div class="footer__container container-grid">
		<div class="footer__row row-grid">
			<div class="footer__column column">
				<a class="footer-logo clearfix" href="#">
					<div class="footer-logo__img lazy-box lazy-loading" href="#">
						<img
							class="lazy-img lazy-box-img lazyload"
							data-sizes="auto"
							data-src="images/footer-logo.png"
							src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							alt="">
					</div>
					<div class="footer-logo__txt">Internet technology  <br> network solution</div>
				</a>
				<div class="footer__txt">
					Development, design <br>
					And support of sites
				</div>
			</div>
			<div class="footer__column footer__column_menu column">
				<ul class="menu-list">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">Refund policy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="footer__column column">
				<strong>ITNS FZE</strong><br>
				Fujairah - Creative Tower <br>
				P.O. Box 4422 Fujairah <br><br>
				<strong>License No:</strong><br>
				11080/2017
			</div>
			<div class="footer__column footer__column_contacts column">
				<a class="link link_color_white" href="tel:+971504907330">
					<strong>Phone:</strong>
					<span>+ 971 50 490 7330</span>
				</a>
				<br>
				<a class="link link_color_white" href="mailto:admin@itns.pro">
					<strong>Email:</strong>
					<span>admin@itns.pro</span>
				</a>
				<br><br>
				<div class="socials social_flex">
					<div class="socials__txt">Follow us:</div>
					<ul class="socials__list list-clr">
						<li>
							<a class="social-icon" href="#">
								<svg class="svg-icon">
									<use xlink:href="images/svg-sprite/svgSprite.svg#facebook-letter-logo"></use>
								</svg>
							</a>
						</li>
						<li>
							<a class="social-icon" href="#">
								<svg class="svg-icon">
									<use xlink:href="images/svg-sprite/svgSprite.svg#google-plus"></use>
								</svg>
							</a>
						</li>
						<li>
							<a class="social-icon" href="#">
								<svg class="svg-icon">
									<use xlink:href="images/svg-sprite/svgSprite.svg#twitter-logo-silhouette"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>