<header class="header">
	<div class="header__container container-grid">
		<div class="header__row row-grid">
			<a class="header__logo logo column" href="#">
				<img src="images/logo.png" alt="">
			</a>
			<div class="menu" id="menu">
				<div class="menu__in">
					<button class="menu__close button-clr" data-toggle="toggleClass" data-target="menu">
						<svg class="svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
						</svg>
					</button>
					<ul class="menu-nav list-clr">
						<li><a href="#">Home</a></li>
						<li>
							<div class="menu-nav-dropdown">
								<a class="menu-nav-toggle" href="#">Shop</a>
								<ul class="menu-nav-drop">
									<li><a href="#">Yii development</a></li>
									<li><a href="#"> Laravel development</a></li>
									<li><a href="#"> Wordpress development</a></li>
									<li><a href="#"> Design</a></li>
									<li><a href="#"> Android development</a></li>
									<li><a href="#"> iOS development</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="column">
				<a class="header-basket" href="#">
					<svg class="header-basket__icon svg-icon">
						<use xlink:href="images/svg-sprite/svgSprite.svg#shopping-cart"></use>
					</svg>
					<span class="header-basket__notification notification">1</span>
				</a>
			</div>
			<div class="column">
				<a class="header__callback button" href="#">
					<svg class="header__callback-icon svg-icon">
						<use xlink:href="images/svg-sprite/svgSprite.svg#phone"></use>
					</svg>
					<span>Contact us</span>
				</a>
			</div>
			<div class="column header__menu-toggle-wrap">
				<button class="header__menu-toggle button-clr" type="button" data-toggle="toggleClass" data-target="menu">
					<svg class="header__hamburger svg-icon">
						<use xlink:href="images/svg-sprite/svgSprite.svg#menu"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
</header>