<link rel="stylesheet" type="text/css" href="css/vendorCss.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script async>
	function loadJS(u){var r=document.getElementsByTagName("script")[0],s=document.createElement("script");s.src=u;r.parentNode.insertBefore(s,r);}

	if(!window.HTMLPictureElement || !('sizes' in document.createElement('img'))){
		loadJS("https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.0/plugins/respimg/ls.respimg.min.js");
	};
	var lazy = function lazy() {
		document.addEventListener('lazyloaded', function (e)  {
			e.target.parentNode.classList.add('lazy-image-loaded');
			e.target.parentNode.classList.remove('lazy-loading');
		});
	}

	lazy();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.0/plugins/bgset/ls.bgset.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.0/lazysizes.min.js" async></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/vendor.min.js"></script>
<script src="js/main.js"></script>
